flask
gunicorn
pydantic>=2.7.0,<3.0.0
langchain>=0.2.14,<0.3.0
langchain-community>=0.2.12,<0.3.0
langchain-core>=0.2.35,<0.3.0
langchain-groq
langchain-huggingface
huggingface-hub
faiss-cpu
python-dotenv
requests
pypdf